[mysqld]
server-id           = 3
bind-address        = 0.0.0.0

read-only           = ON
super-read-only     = ON

gtid-mode           = ON
enforce-gtid-consistency = ON

relay-log           = relay-bin
log-slave-updates   = ON
binlog-format       = ROW

innodb-buffer-pool-size   = 256M
max-connections           = 200

slow-query-log            = ON
slow-query-log-file       = /var/log/mysql/slow.log
long-query-time           = 1
